.break-rule {

    width: 100%;
    height: 3px;
    background-color: #087380;
    margin-top: 15px;
    margin-bottom: 15px;
}

.addon-background {
    background: #cde;
}

.glyphicon-move {
    cursor: move;
    cursor: -webkit-grabbing;
}
.list-group-item{
    margin-bottom: 5px;
}

.call-reason-border{
    padding: 30px;
    border: 2px #0f0f0f solid;
}

.brd-right {
    border-right: 2px #ccc solid;
}

.append-element{
    padding: 10px;
}

.fa-custom-color {
    color: #4dc4c7;
}